/* GLOBALS */
html {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

body {
    /* This group of CSS attributes
    Allows the entirety of the screen
    to be occupied */
    width: 100%;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    margin-bottom: -10px;
    /* Set the default background-color
    to be a light black color */
    background-image: url("../img/blueBackground.jpg");
    max-width: 100%;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: left top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /* Set the default font size to be 3 * the viewport value */
    font-size: 3vw;
    /* Disable the horizontal scrollbar */
    overflow-x: hidden;

    animation-name: backgroundscroller;
    animation-duration: 400s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
    padding-bottom: 70px;
}

a.navbb {
    font-family: "Verdana";
    font-size: .5em;
    text-decoration: none;
}

/* ID'S */


#top {
    padding-top:4vw;
    top: -10vw;
    font-size: 4vw;
    font-family: 'Quattrocento';
}

#mainBranding{
    text-align:center;
}

#uploadButton{
    display:block;
    margin:auto;
}

#uploadButton:hover{
    cursor:pointer;
}

#uploadPrompt{
    text-align:center;
}

#uploadPrompt:hover{
    color:#7398a7;
    cursor:pointer;
}

#background {
    max-width: 100%;
    background-color: #45606c;
    color: #eeeeee;
    text-align:center;
}

#backgroundImage{
    padding-top: 5vw;
    padding-left:5vw;
    width: 80%;
    display:block;
    margin:auto;
}

#news {
    text-align:center;
    max-width: 100%;
    color: #eeeeee;
}

#techUsed{
    padding-top: 5vw;
    padding-left:2vw;
    width: 80%;
    display:block;
    margin:auto;
}

#copyright {
    text-align: center;
    font-size: 2vw;
    padding-top: 15vw;
}

/* CLASSES */

.section {
    /* Pad section content so it doesn't run right
    along the edges of the page */
    padding-top: 11vw;
    padding-bottom: 15vw;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    /* Set the text color to be white
    in the sections */
    color: white;
}

.techSec{
    display: inline-block;
    z-index: 500;
    width: 25%;
    padding-top: 2.5vw;
    padding-bottom: 2.5vw;
    padding-right: 2.5vw;
    padding-left: 3vw;
    position: relative;
}

.holyTrinity{
    background-color: #7398a7;
    background: rgb(115, 152, 167);
    /* Fallback for older browsers without RGBA-support */
    background: rgba(115, 152, 167, 0.65);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

@keyframes backgroundscroller {
    from {
        background-position: 0% 0%;
    }

    to {
        background-position: 500% 500%, 400% 400%, 300% 300%, 200% 200%, 100% 100%;
    }
}